<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='audio.css') }}">
    <title>File was Uploaded</title>
</head>
<body>
    <div class="div">
        <div class="div-2">Emotional Voice Analyzer</div>
        <div class="div-3">
          <div class="div-4"></div>
          <a class="nav-item nav-link" href="/">Home</a>
          <div class="div-5"></div>
          <a class="nav-item nav-link" href="/predict">Predict</a>
        </div>
      </div>

      <div class="text">Your Audio File was Uploaded</div>

    <div class="container">
        <a class="button" href="/predict">Try a prediction?</a>
    </div>

</body>
</html>